@inherits LayoutComponentBase

<PageTitle>StudyApp2</PageTitle>

<div class="page">
    <div class="mainBanner">
        <div style="position:absolute; top:10px; right:20px">
            <a href="/counter" target="_top">회원가입</a>
            <a href="#">로그인</a>
        </div>
        <a class="text" href="/">My Shop</a>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
