@page "/examplecomponent"
@inject IJSRuntime JSRuntime

<style>
    button{
        width:120px;
        height: 45px;
    }
    h3{
        font-size:35px;
        font-weight:bold;
    }
</style>

<h3>샘플</h3>
<hr />
<div style="display:flex; flex-direction:row; justify-content:start;">
    <button class="btn btn-primary" style="margin-right:10px" @onclick="@(()=>btnbutton())">Alert 버튼</button>
    <button class="btn btn-danger" style="margin-right:10px" @onclick="@(()=>btnbutton())">버튼</button>
    <button class="btn btn-primary" style="margin-right:10px" @onclick="@(()=>btnbutton())">버튼</button>
</div>
<hr />
<p id="txtTrans">변경전 내용입니다.</p>
<button class="btn btn-primary" @onclick="@(()=>btnTransText())">버튼2</button>
<hr />
@code {
    // alert 함수 선언
    private async Task btnbutton() { await JSRuntime.InvokeAsync<object>("CustomAlert"); }

    private async Task btnTransText()
    {
        await JSRuntime.InvokeAsync<object>("TransText","txtTrans","변경후 내용입니다.");
    }
}
