@page "/"
@page "/index"

<style>
    .main_container{
        width:100%;
        height:100%;
        padding:30px;
        display:flex;
        flex-direction:row;
    }

    .container_left {
        width: 100%;
        padding-right: 30px;
    }

    .container_left_title {
        width: 300px;
        font-size: 30px;
        font-weight: bold;
        box-sizing: border-box;
    }

    .container_left_subtitle {
        width: 300px;
        padding-top: 10px;
        font-weight: 600;
    }

    .image {
        width: 100%;
        height: 400px;
        background-color: aliceblue;
        box-sizing: border-box;
        padding: 30px;
        font-weight: bold;
    }

    .image_content {
        width: 100%;
        padding-top: 10px;
    }

    .image_subcontent {
        width: 100%;
        padding-top: 10px;
    }

    .container_right {
        width:500px;
        padding-right: 30px;
        display:block;
    }

    .card {
        width:400px;
        height: 150px;
        padding: 30px 10px;
        margin:20px 0px;
        box-sizing: border-box;
        box-shadow:2px 1px 1px gray;
    }

    .card_title {
    }

    .card_content {
        
    }
</style>


<div class="main_container">
    <div class="container_left">
        <div class="container_left_title">
            TITLE HEADING
        </div>
        <div class="container_left_subtitle">
            Title description, May 8, 2019
        </div>
        <div class="image">image</div>
        <div class="image_content">
            Some text..
        </div>
        <div class="image_subcontent">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br />
            Dolores accusantium, quae consequuntur ab eligendi veniam, minima sunt rerum ducimus deserunt nam atque quo sint explicabo numquam deleniti illum. Error, eligendi.<br />
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br />
            Dolores accusantium, quae consequuntur ab eligendi veniam, minima sunt rerum ducimus deserunt nam atque quo sint explicabo numquam deleniti illum. Error, eligendi.<br/>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br />
            Dolores accusantium, quae consequuntur ab eligendi veniam, minima sunt rerum ducimus deserunt nam atque quo sint explicabo numquam deleniti illum. Error, eligendi.<br />
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br />
            Dolores accusantium, quae consequuntur ab eligendi veniam, minima sunt rerum ducimus deserunt nam atque quo sint explicabo numquam deleniti illum. Error, eligendi.<br />
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br />
            Dolores accusantium, quae consequuntur ab eligendi veniam, minima sunt rerum ducimus deserunt nam atque quo sint explicabo numquam deleniti illum. Error, eligendi.<br />
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br />

        </div>
    </div>
    <div class="container_right">
        <div class="card">
            <div class="card_title">About Me</div>
            <div class="card_image">이미지</div>
            <div class="card_content">이미지 설명입니다</div>
        </div>

        <div class="card">
            <div class="card_title">About Me</div>
            <div class="card_image">이미지</div>
            <div class="card_content">이미지 설명입니다</div>
        </div>

        <div class="card">
            <div class="card_title">About Me</div>
            <div class="card_image">이미지</div>
            <div class="card_content">이미지 설명입니다</div>
        </div>

        <div class="card">
            <div class="card_title">About Me</div>
            <div class="card_image">이미지</div>
            <div class="card_content">이미지 설명입니다이미지 설명입니다이미지 설명입니다이미지 설명입니다이미지 설명입니다이미지 설명입니다이미지 설명</div>
        </div>
    </div>

    
    
    

</div>
